/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-dark: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --dec-element-color: #ff0070;
  --dec-corner: #ff0070;
  --header-name-color: #db00ff;
  --button-hover: rgba(255, 0, 112, 0.4);
  --theme-switch-color: #ff0070;
  --button-hover-focus: #ff0070;
  --color-text-description: #000028;
  --bg-color-description-text: #ff0070;
  --color-name-section: #ff0070;
  --color-heading-text: #000028;
  --color-text: #f1b2ce;
  --color-link-hover-focus: #ffb2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: url("../images/cover-image-dark.png");
    --accent-color: #ff0070;
    --dec-element-color: #ff0070;
    --dec-corner: #ff0070;
    --header-name-color: #db00ff;
    --button-hover: rgba(255, 0, 112, 0.4);
    --theme-switch-color: #ff0070;
    --button-hover-focus: #ff0070;
    --color-text-description: #000028;
    --bg-color-description-text: #ff0070;
    --color-name-section: #ff0070;
    --color-heading-text: #000028;
    --color-text: #f1b2ce;
    --color-link-hover-focus: #ff0070;
  }
}
