/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-dark: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --dec-element-color: transparent;
  --dec-corner: #353430;
  --header-name-color: #ffc2e6;
  --theme-switch-color: #353430;
  --button-hover-focus: #353430;
  --color-text-description: #353430;
  --bg-color-description-text: #ff8dcb;
  --color-name-section: #353430;
  --color-heading-text: #353430;
  --color-text: #353430;
  --color-link-hover-focus: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --dec-element-color: transparent;
    --dec-corner: #353430;
    --header-name-color: #ffc2e6;
    --theme-switch-color: #353430;
    --button-hover-focus: #353430;
    --color-text-description: #353430;
    --bg-color-description-text: #ff8dcb;
    --color-name-section: #353430;
    --color-heading-text: #353430;
    --color-text: #353430;
    --color-link-hover-focus: #ff8dcb;
  }
}
