/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-dark);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 100vh;
  min-height: 668px;
}

.dec-element {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  top: 12px;
  right: 9px;
  color: var(--dec-element-color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-family: "IBM Plex mono", sans-serif;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--theme-switch-color);
  text-transform: lowercase;
  padding: 1.5px 13px 4px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-focus);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-hover-focus);
}

.dec-element::after {
  content: "";
  height: 9px;
  width: 9px;
  margin: 8px 10px;
  border-radius: 50%;
  background-color: var(--dec-element-color);
  box-shadow: 0 0 4px 2px var(--dec-element-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--dec-corner);
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--dec-corner);
  border-right: 1px solid var(--dec-corner);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--dec-corner);
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--dec-corner);
  border-left: 1px solid var(--dec-corner);
}

.main_title {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-style: bold;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-name-color);
}

.header_title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_description {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text-description);
  background-color: var(--bg-color-description-text);
}

/* основное первая секция  */

.section {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

.main .section:nth-child(1) {
  margin-top: 40px;
}

.card-title {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  font-style: bold;
  color: var(--color-name-section);
}

.heading-text {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  font-style: bold;
  color: var(--color-heading-text);
  background-color: var(--bg-color-description-text);
  margin-top: 20px;
  margin-bottom: 10px;
}

.text {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text);
}

/* вторая секция  */

/* заголовки советов третьей секции */

.tip-titles {
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--bg-color-description-text);
  color: var(--color-heading-text);
  margin-top: 20px;
  margin-bottom: 10px;
}

/* секция с картинками  */

.section-image .heading-text {
  margin-bottom: 0;
}

.section-image {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}

.image {
  inline-size: 100%;
}

/* подвал */

.footer {
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  display: grid;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color);
}
/* стилизация для ссылки */

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--color-link-hover-focus);
}

.link:focus {
  border: none;
}

.link:focus-visible {
  border: 1px solid var(--color-link-hover-focus);
}

/* медиа запросы  */

@media (width >= 768px) {
  .dec-element {
    top: 20px;
    right: 18px;
  }

  .header {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0;
    min-height: 100vh;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .main_title {
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_description {
    width: 364px;
  }

  /*  первая секция */

  .section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    /* padding-top: 20px; */
  }

  .main .section:nth-child(1) {
  margin-top: 60px;
  }

  .section_text article:first-child .heading-text {
    margin-top: 0;
  }

  .section_text article:last-child .heading-text {
    margin-top: 20px;
  }

  .section_text {
    grid-column: 2 / 4;
  }

  /* вторая секция */

  .main .section:nth-child(2) .card-title {
    width: 236px;
  }

  .main .section:nth-child(2) {
    display: block;
    margin-top: 80px;
  }

  /*третья секция  */

  .main .section:nth-child(3) {
    margin-top: 80px;
  }
  
  .section_text > .heading-text {
    margin-top: 0;
  }

  /* секция с картинками  */

  .main .section:nth-child(4) {
    margin-top: 105px;
  }

  .section-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .section-image .heading-text {
    grid-column: 1 / 4;
    margin-bottom: -5px;
  }

  .image {
    height: 100%;
  }

  .sea_with_mountains {
    grid-column: span 2;
  }

  .bowl_of_ice_cream {
    grid-row: span 2;
    object-fit: cover;
  }

  .stack_of_books {
    grid-column: 2;
    grid-row: 3;
  }

  .cassette {
    grid-row: span 2;
    object-fit: cover;
  }

  .street_in_asia {
    grid-column: span 2;
  }

  /* подвал */

  .footer {
    margin-top: 60px;
  }
}

@media (width >= 1024px) {

  .main_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

    .card-title {
    min-width: 315px;
  }

    .header__theme-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .header__theme-menu-list {
    padding: 0;
    flex-direction: row;
    padding-left: 20px;
    gap: 10px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .header_description {
    width: 491px;
  }

  /* вторая секция */

  .what-text {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-image > .heading-text {
    margin-top: 0;
  }

  .main .section:nth-child(4) {
    margin-top: 80px;
  }
}

/* знаю мой код просто ужас :), простите */
